@model MOTOMAMI.Models.Album

@{
    ViewData["Title"] = "Cadastrar evento";
}

<h1>@ViewData["Title"]</h1>

<div>
    
    <form asp-controller="Evento" asp-action="Salvar" method="post">
        <label for="id">Id: </label>
            <input type="number" name="id" id="id" class="form-control" min="1" required>

        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" class="form-control" required>

        <label for="lugar">Lugar: </label>
        <input type="text" name="lugar" id="lugar" class="form-control" required>

        <br/><button type="submit">Salvar</button>
    </form>
    
</div>