@model MOTOMAMI.Models.Gravadora

@{
    ViewData["Title"] = $"Gravadora: {Model.Nome}";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id:</b> @Model.Id
</p>
<p>
    <b>Nome:</b> @Model.Nome
</p>
<p>
    <b>Gênero Musical:</b> @Model.Genero
</p>