@model MOTOMAMI.Models.Album

@{
    ViewData["Title"] = $"Álbum: {Model.Nome}";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id:</b> @Model.Id
</p>
<p>
    <b>Nome:</b> @Model.Nome
</p>
<p>
    <b>Quantidade de músicas:</b> @Model.QtdeMusicas
</p>